/* Set general page outline */

body {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border-style: none;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

/* **********TOP HEADER STYLING********** */

#header-container {
    display: flex;
    flex-direction: row;
    border-style: none;
    justify-content: space-between;
    align-items: flex-end;
    font-size: medium;
}

#app-name {
    display: flex;
    margin: 0;
}

#links-container {
    display: flex;
    border-style: none;
    flex-direction: row;
    
} 

.header-link {
    display: flex;
    text-decoration: none;
    color: black;
    margin: 0 5px;
    transition: 100ms;
}

.header-link:visited {
    color: black;
}

.header-link:hover {
    transform: scale(1.1);
}

/* **********NAV STYLING********** */

nav {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    background-color: #D30F0F;
    display: flex;
    flex-direction: column;
    height: 10%;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: xx-large;
    font-weight: bold;
}

/* **********DIRECTION HEADER STYLING********** */

#directions {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

/* **********BUTTON STYLING********** */

button {
    background-color: #D7D6D8;
    color: black;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    border-radius: 10px;
    opacity: .7;
    cursor: pointer;
    transition: 100ms;
    border-style:groove;
    background-color: #E6E2E2;
    box-shadow: 0px 3px 5px #555454;
}

button:hover {
    opacity: 1;
    transform: scale(1.1);
}

#page-button {
    display: flex;
    flex-direction: row;
    padding: 5px 0 0 0;
    justify-content: space-between;
    width: 80%;
}

.nav-button {
    display: flex;
    margin: 0 5px;
}

/* **********DRIVER CONTAINER********** */

#driver-container {
    background-image: url("Pictures/vertical-stripes.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
}

#driver-list {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.driver-info {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: auto;
    margin: 5px 0;
    background-color: #F5F5EF;
}

.name-div {
    font-weight: bold;
    text-align: center;
}

.details-button {
    display: flex;
    align-content: space-between;
    margin: 0 0 5px 0;
}

/* **********MEDIA CHANGES for 1200px, 950px, 600px, 450px********** */

@media only screen and (max-width: 1200px) {
    
    .driver-info {
        width: 20%;
    } 
}


@media only screen and (max-width: 950px) {
    
    .driver-info {
        width: 30%;
    } 
}

@media only screen and (max-width: 600px) {
    
    .driver-info {
        width: 40%;
    } 
}

@media only screen and (max-width: 450px) {
    
    #title {
        font-size: x-large;
    }

    #directions {
        font-size: medium;
    }

    .driver-info {
        width: 90%;
    } 
}