/* Set general page outline */

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

/* Temp borders to visually define containers */

* div {
    border-style: solid;
    border-width: 4px;
}

/* **********TOP HEADER STYLING********** */

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: medium;
}

#app-name {
    display: flex;
    margin: 0;
}

#links-container {
    display: flex;
    border-style: none;
    flex-direction: row;
    
} 

.header-link {
    display: flex;
    margin: 2px;
}

/* **********NAV BAR STYLING********** */

nav {
    background-color: #D30F0F;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 20px 0px;
    justify-content: center;
    height: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    border-style: none;
    font-size: x-large;
    font-weight: bold;
    width: 70%;
}

#drop-down {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

label {
    display: flex;
    align-items: center;
}

select, button {
    display: flex;
    font-size: x-large;
    background-color: #D7D6D8;
    color: black;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    border-radius: 10%;
    opacity: .7;
    cursor: pointer;
    transition: 100ms;
}

button {
    border-style:solid;
    border-width: 2px;
    background-color: #E6E2E2;
    box-shadow: 0px 3px 5px #555454;
}
select:hover, button:hover {
    opacity: 1;
    transform: scale(1.1);
}

select {
    margin-left: 20px;
    border-style: solid;
    border-width: 2px;
}

#button {
    margin-left: 20px;
}

/* **********DIRECTIONS DIV STYLING********** */

#instructions {
    border-style: none;
}

#instructions h4 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 0 auto;
    padding: 10px 0;
}


/* **********PODIUM CONTAINER STYLING********** */

#podium-container {
    background-image: url("Pictures/210-2105378_martini-racing-stripes.jpg");
    z-index: 0;
    background-size:contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content:space-around;
    padding: 20px;
    height: 80vh;
    border-radius: 10%;
}

.results-container {
    display: flex;
    border-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}


/* **********PODIUM ORDER********** */

#first-place {
    display: flex;
    order: 1;
}

#second-place {
    display: flex;
    order: 0;
}

#third-place {
    display: flex;
    order: 2;
}

/* **********RESULTS AND PODIUM STYLING********** */

.results {
    display: flex;
    flex-direction: column;
    background-color: #F5F5EF;
    position: relative;
    z-index: 1;
    width: 75%;
    align-content: space-between;
    align-items: center;
    text-align: center;
    font-size: x-large;
    margin: 10px;
    border-radius: 5%;
}

.results button {
    display: flex;
    text-align: center;
    margin: 0 0 10px 0;
}

* h3, * h5 {
    margin: 2%;
}

.podium {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 75%;
    text-align: center;
    font-size: xx-large;
    position: relative;
    bottom: 0; 
}
#podium-1 {
    background-color: #DEDB06;
    height: 75%;   
}
#podium-2 {
    background-color: #BDBCBB;
    height: 50%;
}
#podium-3 {
    background-color: #A78882;
    height: 35%;
}


/* **********MEDIA WIDTH CHANGES********** */

@media only screen and (max-width: 1110px) {
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 10px;
        font-size: medium;
        font-weight: bold;
    } 

    label {
        display: flex;
        position: relative;
        text-align: center;
        align-items: center;
        font-size: medium;
        font-weight: bold;
    }

    #menu select {
        display: flex;
        font-size: medium;
        width: 100%;
        justify-content: center;
    }

    #menu button {
        display: flex;
        font-size: medium;
        justify-content: center;
    }

    #instructions h4 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: x-large;
        margin: 0 auto;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }
    
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 10px;
        font-size: small;
        font-weight: bold;
    } 

    label {
        display: flex;
        position: relative;
        text-align: center;
        align-items: center;
        font-size: small;
        font-weight: bold;
    }

    #menu select {
        display: flex;
        font-size: small;
        justify-content: center;
    }

    #menu button {
        display: flex;
        font-size: small;
        justify-content: center;
    }

    #instructions h4 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: x-large;
        margin: 0 auto;
        padding: 10px 0;
    }

    .results {
        font-size: medium;
    }

    .results button {
        font-size: small;
    }

    .podium {
        font-size: medium;
    }
}

@media only screen and (max-width: 650px) {
    
    body {
        width: 100%;
    }
    
    #nav-bar {
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
    }
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        width: 100%;
        font-size: small;
        font-weight: bold;
    } 

    label {
        display: flex;
        position: relative;
        text-align: center;
        align-items: center;
        font-size: small;
        font-weight: bold;
    }

    #menu select {
        display: flex;
        font-size: small;
        justify-content: center;
    }

    #menu button {
        display: flex;
        font-size: small;
        justify-content: center;
    }

    #instructions h4 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: x-large;
        margin: 0 auto;
        padding: 10px 0;
    }

    .results-container {
        width: 100%;
    }
    .results {
        font-size: medium;
    }

    .results button {
        font-size: small;
    }

    .podium {
        font-size: medium;
    }
}


@media only screen and (max-width: 450px) {
    
    body {
        width: 100%;
    }
    
    #header-container {
        font-size: small;
    }
    #nav-bar {
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        height: 100%;
        width: 100%;
        font-size: small;
        font-weight: bold;
    } 

    label {
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: small;
        font-weight: bold;
    }

    #menu select {
        display: flex;
        font-size: small;
        justify-content: center;
    }

    #menu button {
        display: flex;
        font-size: small;
        align-items: center;
        justify-content: center;
    }

    #instructions h4 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: medium;
        margin: 0 auto;
        padding: 10px 0;
    }

    #podium-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-content: center;
    }

    .results-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .results {
        font-size: medium;
        display: flex;
        padding: 0;
        margin: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .results button {
        font-size: small;
    }

    .podium {
        display: none;
    }

    #first-place {
        display: flex;
        order: 0; 
    }

    #second-place {
        display: flex;
        order: 1; 
    }

    #third-place {
        display: flex;
        order: 2; 
    }
}




