/* Set general page outline */

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    height: 90vh;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

/* Temp borders to visually define containers */

* div {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
}

/* **********TOP HEADER STYLING********** */

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: medium;
}

#app-name {
    display: flex;
    margin: 0;
}

#links-container {
    display: flex;
    border-style: none;
    flex-direction: row;
    
} 

.header-link {
    display: flex;
    text-decoration: none;
    margin: 0 5px;
    transition: 100ms;
}

.header-link:visited {
    color: black;
}

.header-link:hover {
    transform: scale(1.1);
}

/* **********NAV BAR STYLING********** */

#nav-bar {
    background-color: #D30F0F;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: center;
    align-content: center;
    height: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
}

#drop-down {
    display: flex;
    border-style: none;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    font-size: x-large;
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
}

select, button {
    display: flex;
    font-size: x-large;
    background-color: #D7D6D8;
    color: black;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: black;
    opacity: .7;
    cursor: pointer;
    transition: 100ms;
    background-color: #E6E2E2;
}

button {
    box-shadow: 0px 3px 5px #555454;
}

select:hover, button:hover {
    opacity: 1;
    transform: scale(1.1);
}

select {
    margin-left: 20px;
}

#button {
    margin-left: 20px;
}

/* **********DIRECTIONS DIV STYLING********** */

#instructions {
    border-style: none;
}

#instructions h4 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 0 auto;
    padding: 10px 0;
}

/* **********PODIUM CONTAINER STYLING********** */

#podium-container {
    background-image: url("Pictures/210-2105378_martini-racing-stripes.jpg");
    z-index: 0;
    background-size:contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content:space-around;
    padding: 20px;
    height: 100%;
}

.results-container {
    display: flex;
    border-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

/* **********PODIUM ORDER********** */

#first-place {
    display: flex;
    order: 1;
}

#second-place {
    display: flex;
    order: 0;
}

#third-place {
    display: flex;
    order: 2;
}

/* **********RESULTS AND PODIUM STYLING********** */

.results {
    display: flex;
    flex-direction: column;
    background-color: #F5F5EF;
    position: relative;
    z-index: 1;
    width: 75%;
    align-content: space-between;
    align-items: center;
    text-align: center;
    font-size: x-large;
    margin: 10px;
}

.results button {
    display: flex;
    text-align: center;
    margin: 0 0 10px 0;
}

* h3, * h5 {
    margin: 2%;
}

.podium {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    bottom: 0; 
}

#podium-1 {
    background-color: #DEDB06;
    height: 75%;   
}

#podium-2 {
    background-color: #BDBCBB;
    height: 50%;
}

#podium-3 {
    background-color: #A78882;
    height: 35%;
}

/* **********MEDIA CHANGES for 1200px, 800px, 500px, 400px********** */

@media only screen and (max-width: 1200px) {
    
    .results {
        font-size: medium;
    }

    .podium {
        font-size: medium;
    }
}

@media only screen and (max-width: 800px) {

    #drop-down {
        font-size: medium;
    }

    select, button {
        font-size: medium;
    }

    select, #button {
        margin-left: 2px;
    }

    #instructions h4 {
        font-size: medium;
    }

    .results {
        font-size: medium;
    }

    .podium {
        font-size: large;
    }
}

@media only screen and (max-width: 500px) {

    #drop-down {
        font-size: small;
    }

    select, button {
        font-size: small;
    }

    select, #button {
        margin-left: 1px;
    }

    #instructions h4 {
        font-size: small;
    }

    .results {
        font-size: small;
        width: 120%
    }
    
    .podium {
        font-size: small;
        width: 120%;
    }
}

@media only screen and (max-width: 400px) {

    #drop-down {
        display: flex;
        flex-direction: column;
        font-size: medium;
    }

    select {
        display: flex;
        justify-content: space-around;
        font-size: medium;
        width: 100%;
        margin-left: 3px;
    }

    * button {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        font-size: medium;
        margin: 0;
    }

    #instructions h4 {
        font-size: medium;
        text-align: center;
    }

    #podium-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    .results-container {
        width: 100%;
    }

    .results {
        font-size: medium;
        width: 100%
    }
    
    .podium {
       display: none;
    }

    #first-place {
        display: flex;
        order: 0;
    }

    #second-place {
        display: flex;
        order: 1;
    }

    #third-place {
        display: flex;
        order: 2;
    }

    #first-results {
        background-color: #DEDB06;
    }

    #second-results {
        background-color: #BDBCBB;
    }

    #third-results {
        background-color: #A78882;
    }
}